.rslides {
  width:1230px;
  height:450px;
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}


.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}


.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}


.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  float:right;
  margin:0;
  max-width: 100% !important;
}


.rslides_container {
  padding-bottom: 30px;
  position: relative;
  float: left;
  width: 100%;
  background-color: #EFE5CA;
}


.rslides_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background:url('../img/slider-left-arrow.png') center center no-repeat;
  top: 50%;
  left: 0;
  text-indent:-9999px;
  overflow: hidden;
  text-decoration: none;
  width:43px;
  height:91px;
  margin-top: -55px;
}

.rslides_nav.next {
  left: auto;
  background:url('../img/slider-right-arrow.png') center center no-repeat;
  right: 0;
}



.caption {
  position:absolute;
  height:450px;
  width:450px;
  background:url('../img/slider-background.png') -100px top no-repeat;
  color:white;
  padding-left:60px;
  padding-top:30px;
  margin-top:0px;
}


.caption span {
  display:block;
  width:230px;
  height:230px;
}

.caption b {
    display:block;
    line-height:30px;
    font-size:28px;
    padding-bottom:20px;
}

